body{
 background-color: lightblue;
}

p{
  color: Yellow;
}
h3{
  color: Darkgrey;
  }
h2{
  color: red;
}
h1{
  text-align: center;
  text-decoration: underline;
  color: blue;
}
img{
  width: 50%;
  height: 50%;
}
ul{
  color: brown;
}
ol{
  color: brown;
}
